<!-- Bootstrap Accordion -->
<div class="accordion accordion-flush" id="citiesByRegion">
    <!-- Central Oregon Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="centralOR">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Central Oregon
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="centralOR"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Columbia Gorge Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="columbiaGorge">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Columbia Gorge
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="columbiaGorge"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Norther Coast Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="northCoast">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Northern Coast
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="northCoast"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Northeastern Oregon Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="northeastOR">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Northeastern Oregon
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="northeastOR"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Portland Metropolitan Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="portlandMetro">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                Portland Metropolitan
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="portlandMetro"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--South Central and Southeastern Oregon Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="sseOR">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                South Central and Southeastern Oregon
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="sseOR"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Southern Coast Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="southCoast">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Southern Coast
            </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="southCoast"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Southern Oregon Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="southernOR">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                Southern Oregon
            </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="southernOR"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
    <!--Willamette Valley Accordion-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="willametteValley">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                Willamette Valley
            </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="willametteValley"
            data-bs-parent="#citiesByRegion">
            <div class="accordion-body">
                <ul class="list-group">
                    <%- include("../partials/city") %>
                </ul>
            </div>
        </div>
    </div>
</div>